
.DS_Store

fluffiland_game/entities/rabbibranch/rabbibranch_adult/sprite/

fluffiland_game/entities/ancistrus/ancistrus_adult/sprites/

fluffiland_game/entities/ancistrus/ancistrus_baby/sprites/

*.clip

*.png

*.import

fluffiland_game/font/Comfortaa/

*.tif

*.svg

*.jpg

fluffiland_game/assets/maujoe.custom_gradient_texture/example.tres

fluffiland_game/assets/maujoe.custom_gradient_texture/LICENSE.md

fluffiland_game/assets/maujoe.custom_gradient_texture/README.md

fluffiland_game/GUI/energybar.gd

fluffiland_game/GUI/healthbar.gd
